.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 2rem;
    padding-top: 200px;
}

.signature__channels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.signature__logo-channel {
    display: flex;
}

.signature__logo-channel img {
    width: 100%;
}

.signature__channel {
   width: 100%;
}

.signature__titles {
    text-transform: uppercase;
    text-align: center;
}

.signature__title-one {
    font-size: 1.5rem;
}

.signature__title-two {
    font-size: 2rem;
    font-weight: 800;
}

.signature__line-horizontal {
    width: 50%;
    height: 5px;
    background: var(--divider-bg-color);
    border-radius: 50px;
}

.signature__texts {
    text-align: center;
}

.price {
    font-size: 2rem;
    font-weight: 800;
}

.signature__btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid transparent;
    padding: 12px 24px;
    border-radius: 50px;
    color: white;
    background: var(--btn-bg-color-gradient), var(--tertiary-color);
    animation: wiggle 2.2s linear infinite;
    transition: 1s;
}

.signature__btn:hover {
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--secondary-color);
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

.signature__text-tree {
    text-align: center;
    font-size: 12px;
}

.plan {
    background-image: url('/assets/images/background-movies-series.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    padding: 2rem;
}


.plan__title {
    text-align: center;
    font-size: 1.5rem;
}

.plan__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
    gap: 50px;
    perspective: 900px;
}

.plan__card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background: var(--card-bg-color);
    padding: 2rem;
    border-radius: 5px;
    position: relative;
    transition: 1s;
}

.plan__card p::before {
    content: "+ ";
}

.plan__header {
    display: flex;
    justify-content: space-between;
}

.plan__mobile, .plan__multitelas {
    font-weight: 800;
}

.plan__price span {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--secondary-color);
}

.plan__card p {
    margin: 10px 0;
}

.plan__card button {
    color: var(--text-color);
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--btn-bg-color-gradient) var(--tertiary-color);
    padding: 8px 20px;
    border-radius: 50px;
    height: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 2s;
}

.plan__card button:hover {
    cursor: pointer;
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.galery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 30px;
    
}

.galery__title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.galery__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.galery__card {
    width: 200px;
    height: 300px;
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
    transition: 2s ease-in-out;
    background-size: cover;
    background-position: center;
}



.galery__card:hover {
    transform: scale(1.1);
    border: 2px solid var(--secondary-color);
}

#img-1 {
    background-image: url('/assets/images/hbo-default_0.webp');
}

#img-1:hover {
    background-image: url('/assets/images/hbo-hover_0.webp');
}

#img-2 {
    background-image: url('/assets/images/MAX-Default.webp');
}

#img-2:hover {
    background-image: url('/assets/images/MAX-Hover.webp');
}

#img-3 {
    background-image: url('/assets/images/DC_Default.webp');
}

#img-3:hover {
    background-image: url('/assets/images/DC-Hover.webp');
}

#img-4 {
    background-image: url('/assets/images/WB-Default.webp');
}

#img-4:hover {
    background-image: url('/assets/images/WB-Hover.webp');
}
#img-5 {
    background-image: url('/assets/images/CN-Default.webp');
}

#img-5:hover {
    background-image: url('/assets/images/CN-Hover.png');
}

#img-6 {
    background-image: url('/assets/images/UCL-Default.webp');
}

#img-6:hover {
    background-image: url('/assets/images/UCL-Hover.webp');
}

@media screen and (min-width: 480px) {
    .signature__line-horizontal {
        width: 40%;
    }

    .plan__card-1:hover ~ .plan__card-2 {
        transform: rotateY(-45deg);
    }
    
    .plan__cards:has(.plan__card:nth-child(2):hover)
      .plan__card:nth-child(1) {
      transform: rotateY(45deg);
    }
    

}

@media screen and (max-width: 500px) {
    .galery__cards {
        width: 100%;
        flex-wrap: nowrap; 
        overflow-x: auto;
        justify-content: start;

    }

    .galery__card {
        scroll-snap-align: start;
        min-width: 200px;
    }
    
    .galery__cards::-webkit-scrollbar  {
        height: 10px;
    }

    .galery__card:hover {
        transform: scale(1);
        border: 0;
    }
}


